body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    height: 60vh;
    width: 60vh;
    gap: 2%;
}

.grid > .cell {
    background-color: rgb(235, 189, 130);
}
